body{background-color: lightcyan;}
header {
    margin: 0;
  }
  .user-bar {
    display: flex;
    padding: 12px;
    margin-bottom: 12px;
  }

  .user-bar .message {
    flex: 1;
    min-width: 0;
    position: fixed;
    background-color: lightcoral;
  }


.start
{
    background-color: lightcoral;
    display: flex;
    height:100px;
}
.start img
{
    height: 100px;
    width: 20vh;
}
.start div:nth-child(1)
{
    height: 10vh;
    padding-left: 10vw;
    flex: 1;
}
.start div:nth-child(2)
{
    padding-left: 10vw;
    padding-right: 10vw;
    flex: 2;
}
.start div:nth-child(3)
{
    height: 10vh;
    padding-right: 10vw;
    flex: 1;
}


.meniu
{
    background-color: lightcoral;
    display: flex;
    height:100px;
}
.meniu.categorii
{
    height: 100%;
    padding-right: 10vw;
    align-items: flex-start;
    flex: 1;
    color: black;
}
.meniu.categorii.submeniu
{
    padding-right: 10vw;
    align-items: flex-start;
    flex: 1;
    color: darkblue;
}
.meniu div 
{
    height: 100%; 
    flex: 2;
    align-items: flex-end;
}

.meniu.categorii
{
    position: relative;
    display: inline-block;
}
.meniu.categorii.submeniu
{
    display: none;
    position: absolute;
}
.meniu.categorii:hover .submeniu
{
    display: block;
}

.meniu{
    cursor: pointer;
    transition: 1s;
}
.meniu:hover{
    background-color: lightgreen;
}


@keyframes rotation {
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}
#titlu {
    animation: rotation 3s linear 0s 1;
  }

@media screen {
   * { font-family: sans-serif }
}

input {
    margin-bottom: 8px;
  }

  input:not([type="radio"]):not([type="checkbox"]) {
    display: block;
  }


.actions{
    display: flex;
}

.actions button:not(:last-child){
    margin-right: 4px;
}

.new-game{
    border:2px solid;
    margin:0.5rem;
    padding: 0.5rem;
    display: flex;
}
.new-game img{
    height: 100%;
    max-width: 7rem;
}
.new-game .content{
    flex:1;
    margin-left:1rem;
}
.new-game .content h1{
    font-size:1.2rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.new-game .content p{
    font-size:1rem;
    margin:0.5rem 0;
}

#produse img
{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 300px;
}
#produse div
{
    font-size: 1cm;
}
#produse li
{
    font-size: 2cm;
    color: red;
}