body{background-color: lightcyan;}
header {
    margin: 0;
  }
  .user-bar {
    display: flex;
    padding: 12px;
    margin-bottom: 12px;
  }

  .user-bar .message {
    flex: 1;
    min-width: 0;
    position: fixed;
    background-color: lightcoral;
  }


.start
{
    background-color: lightcoral;
    display: flex;
    height:100px;
}
.start img
{
    height: 100px;
    width: 20vh;
}
.start div:nth-child(1)
{
    height: 10vh;
    padding-left: 10vw;
    flex: 1;
}
.start div:nth-child(2)
{
    padding-left: 10vw;
    padding-right: 10vw;
    flex: 2;
}
.start div:nth-child(3)
{
    height: 10vh;
    padding-right: 10vw;
    flex: 1;
}


.meniu
{
    background-color: lightcoral;
    display: flex;
    height:100px;
}
.meniu.categorii
{
    height: 100%;
    padding-right: 10vw;
    align-items: flex-start;
    flex: 1;
    color: black;
}
.meniu.categorii.submeniu
{
    padding-right: 10vw;
    align-items: flex-start;
    flex: 1;
    color: darkblue;
}
.meniu div 
{
    height: 100%; 
    flex: 2;
    align-items: flex-end;
}

.meniu.categorii
{
    position: relative;
    display: inline-block;
}
.meniu.categorii.submeniu
{
    display: none;
    position: absolute;
}
.meniu.categorii:hover .submeniu
{
    display: block;
}

.meniu{
    cursor: pointer;
    transition: 1s;
}
.meniu:hover{
    background-color: lightgreen;
}


@keyframes rotation {
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}
#titlu {
    animation: rotation 3s linear 0s 1;
  }

@media screen {
   * { font-family: sans-serif }
}

input {
    margin-bottom: 8px;
  }

  input:not([type="radio"]):not([type="checkbox"]) {
    display: block;
  }